@charset "utf-8";
/*css document*/

h1{
	background-color: bisque;
	color:blue;
	text-align: center;
}
body {
    background-color: lightblue;
}
img.center{
	display:block;
	margin-left: auto;
	margin-right: auto;
}